body {
    font-family: Consolas;
    margin: 10px;
}

.protocol {
    display: flex;
}

.card {
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.card-header {
    display: flex;
}

.card-protocol {

}

.card-value {
    font-size: 2rem;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    height: 75px;
    border: 1px solid black;
    align-items: center;
}

.card-text p {
    margin: 0;
    padding: 0;
}